/*container of items*/
#login-container{
    border: 2px;
    border-style: solid;
    border-radius: 15px;
    width: 400px;
    margin-top: 15%;
    background-color: rgb(240, 239, 230);
}


/*No account*/
#noAcc{
    color: rgb(0, 0, 99);
    font-weight: 400;
    text-decoration: underline;
}
#noAcc:hover{
    cursor: pointer;
}